body{
    text-align:center;
    background-color:#9EB8D9;
}

#titulo{
    text-align:center;
    color:#A25772;
    font-size:50px;
    backfround-color:#D2E3C8;
}

.texto{
    text-align:center;
    color:#7C93C3;
    font-size:30px;
    
}

.paragrafo1{
    background-color: #9EB8D9;

}
